<!--
=========================================================
* FinTech Versão 1.0
=========================================================

* Instituição: Centro Universitário Católica de Santa Catarina
* Professor: Luiz Carlos Camargo
* Alunos: Helena de Oliveira (Eng. De Software)
* José Vegini (Eng. De Software)
* Fernando de Oliveira (Ciências Contábeis)
* Gabriel Leal (Ciências Contábeis)
* Lucas Scaini (Ciências Contábeis)
* Paula Martins (Ciências Contábeis)
* Objetivo: Projeto desenvolvido com a colaboração entre as turmas de Engenharia de Software e Ciências Contabeis.
* Projeto: Projeto de balanço de empresas com cadastro e dashboard para usuários.

=========================================================
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="/public/images/apple-icon.png">
    <link rel="icon" type="image/png" href="/public/images/favicon.png">
    <title>
        Tech Report - Principal
    </title>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
    <!-- Nucleo Icons -->
    <link href="/public/stylesheets/nucleo-icons.css" rel="stylesheet" />
    <link href="/public/stylesheets/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <!-- CSS Files -->
    <link id="pagestyle" href="/public/stylesheets/material-dashboard.css" rel="stylesheet" />
</head>

<body class="g-sidenav-show  bg-gray-200">
    <aside
        class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark"
        id="sidenav-main">
        <div class="sidenav-header">
            <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
                aria-hidden="true" id="iconSidenav"></i>
            <a class="navbar-brand m-0" href=" https://demos.creative-tim.com/material-dashboard/pages/dashboard "
                target="_blank">
                <img src="/public/images/logo-ct.png" class="navbar-brand-img h-100" alt="main_logo">
                <span class="ms-1 font-weight-bold text-white">Tech Report</span>
            </a>
        </div>
        <hr class="horizontal light mt-0 mb-2">
        <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white active bg-gradient-primary" href="/principal">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">table_view</i>
                        </div>
                        <span class="nav-link-text ms-1">Principal</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/new">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">dashboard</i>
                        </div>
                        <span class="nav-link-text ms-1">Novo Cadastro</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white " href="/perfil">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">person</i>
                        </div>
                        <span class="nav-link-text ms-1">Profile</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white " href="/singin">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">login</i>
                        </div>
                        <span class="nav-link-text ms-1">Log Out</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        <div class="container-fluid py-4">
            <div class="row">
                <div class="col-12">
                    <div class="card my-4">
                        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                                <h6 class="text-white text-capitalize ps-3">Empresas Cadastradas</h6>
                            </div>
                        </div>
                        <div class="card-body px-0 pb-2">
                            <div class="table-responsive p-0">
                                <table class="table align-items-center mb-0">
                                    <thead>
                                        
                                        <tr>
                                            <th
                                                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                                Empresa</th>
                                            <th
                                                class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                                CNPJ</th>
                                            <th
                                                class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                                Ações</th>
                                        </tr>
                                    </thead>
                                    <% if(!results || results.length == 0) { %>
                                        <tbody>
                                            <tr>
                                                <td class="text-center table-empresas-cadastradas-cnpj">
                                                    <p class="text-xs text-secondary mb-0">Você não possui nenhuma loja cadastrada! Cadastre para que possamos exibir aqui!</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    <tbody>
                                        <% } else { %><% results.forEach( function(empresa){ %>
                                        <tr>
                                            <td class="text-center table-empresas-cadastradas-nome">
                                                <div class="d-flex px-2 py-1">
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="mb-0 text-sm"><%= empresa.nome %></h6>
                                                        <p class="text-xs text-secondary mb-0"><%= empresa.email %></p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-center table-empresas-cadastradas-cnpj">
                                                <p class="text-xs text-secondary mb-0"><%= empresa.cnpj %></p>
                                            </td>
                                            <td class="buttons-tables">
                                                <a href="/editar"><button class="btn bg-gradient-editar w-100 mb-0 toast-btn"
                                                    type="button" data-target="successToast">Editar</button></a>
                                                <a><button class="btn bg-gradient-excluir w-100 mb-0 toast-btn"
                                                    type="button" data-target="successToast">Excluir</button></a>
                                                <a href="/dash"><button class="btn bg-gradient-excluir w-100 mb-0 toast-btn"
                                                    type="button" data-target="successToast">Dashboard</button></a>
                                            </td>
                                        </tr>
                                        <% })} %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </tbody>
            <footer class="footer py-4  ">
                <div class="container-fluid">
                    <div class="row align-items-center justify-content-lg-between">
                        <div class="col-lg-6 mb-lg-0 mb-4">
                            <div class="copyright text-center text-sm text-muted text-lg-start">
                                ©
                                <script>
                                    document.write(new Date().getFullYear())
                                </script>,
                                made with <i class="fa fa-heart"></i> by Androidos.
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </main>
    <!--   Core JS Files   -->
    <script src="/public/javascripts/core/popper.min.js"></script>
    <script src="/public/javascripts/core/bootstrap.min.js"></script>
    <script src="/public/javascripts/plugins/perfect-scrollbar.min.js"></script>
    <script src="/public/javascripts/plugins/smooth-scrollbar.min.js"></script>
    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="/public/javascripts/material-dashboard.min.js"></script>
</body>

</html>


<!--

<!DOCTYPE html>
<html>
  <head>
    <title>CRUD de Clientes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>Listagem de Clientes</h1>
    <p>Clientes já cadastrados no sistema.</p>
    <table style="width:50%">
      <thead>
        <tr style="background-color: #CCC">
          <td style="width:50%">Nome</td>
          <td style="width:15%">Idade</td>
          <td style="width:15%">UF</td>
          <td>Ações</td>
        </tr>
      </thead>
      <tbody>
        <% if(!results || results.length == 0) { %>
          <tr>
            <td colspan="4">Nenhum cliente cadastrado.</td>
          </tr>
          <% } else { %><% results.forEach( function(cliente){ %>
            <tr>
              <td style="width:50%"><%= cliente.nome %></td>
              <td style="width:15%"><%= cliente.idade %></td>
              <td style="width:15%"><%= cliente.uf %></td>
              <td>em breve</td>
            </tr>
            <% }) } %>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="4"><a href="/new">Cadastrar Novo</a></td>
            </tr>
          </tfoot>
      </table>
  </body>
</html>
-->